
<div class='interview-question'> 
  <div hidden id="question-id"><%= @question.id %></div>
  <h1><%= @question.title %></h1>
  <div class="hero-unit">
    <p><%= @question.question %></p>
    <button class="reveal btn btn-success">Show Answer</button>
  </div>

  <hr>

  <div class="hero-unit answer" hidden>
    <p><%= @question.answer.html_safe %></p>
    <button class="next-question btn btn-primary">Next Question</button>
  </div>
</div>

<video autoplay></video>
<div id="webcamcontrols">
    <button class="recordbutton">RECORD</button>
</div>
