<div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="/">Interview</a>
       <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav pull-right" id="main-menu-right">
          <% if @user %>
            <li><a id="swatch-link" href="auth/twitter">Signin</a></li>
          <% else %>
            <li><a id="swatch-link" href="signout/">Signout</a></li>
          <% end %>
        </ul>
       </div>
     </div>
   </div>
 </div>
