<h1>Welcome, <%= @user.name %></h1>
<p>Stephen Hawking will ask you a question. Practice your response, and then review the solution.</p>
<div class="text-center">
  <%= link_to "Random Question", question_path(@questions.sample), class: "btn btn-danger btn-large" %>
</div>

<p>Or choose a specific question:</p>
<table class="table table-striped table-bordered">
  <tr>
    <th>Attempted</th>
    <th>Title</th>
  </tr>
  <% @questions.each do |question| %>
  <tr>
    <td>
      <% if @user.responses.find_by_id(question.id) %>
        <i class="icon-check"></i>
      <% else %>
        <i class="icon-check-empty"></i>
      <% end %>
    <td><%= link_to question.title, question_path(question) %></td>
  </tr>
  <% end %>


</table>

