.preview {
  padding-top: 100px;
}

#steve {
  position: relative;
}

.question {
  width: 610px;
}

#one, #two {
  background-color: steelblue;
  height: 200px;
  width: 200px;
  margin-top: -33px;
  margin-right: -33px;
  border-radius: 10px;
  border: 5px solid #888;
  position: absolute;
  right: 0;
  top: 0;

}

.hero-unit {
  min-height: 150px;
}
